table {
    border: 1px solid grey;
    width: 100%;
  }
  

  .container {
      margin : 40px 40px 40px 40px !important;
  }

  td, th {
    width: 25%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  